[submodule "zsh/prompt"]
	path = zsh/prompt
	url = https://github.com/Phantas0s/purification
        branch = master
[submodule "zsh-completions"]
	path = $HOME/.extra/zsh_custom/plugins/zsh/plugins/zsh-completions
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
